:root{
    --text_color: #d9da0d;
}

.titre h1{
    text-align: center;
    color: var(--text_color);
    margin: 50px;
}
.description h3{
    color: var(--text_color);
    text-align: center;
    margin: 50px;
}
