:root{
    --text_color: #848486;
}

.temp{

    display: flex;
    height: 650px;
}
.produit{
    text-align: center;
    height: 650px;
    padding: 10px;
}

.encherir{
    height: 385px;
    width: 800px;

}
.mise{
    margin-top: 35px;
}
.total{
    padding: 20px;


}
.imageP{
    width: 400px;
    height: 450px;
}
.item{
    width: 50px;
    height: 25px;
}

#myChart{
    width: 600px;

}

.car{
    height: 500px;
    width: 100%;

}

.imgcar{
    height: 400px;
    width: 100%;
}

.bcom{
    margin-top: 35px;
    max-height: 37px;
}

.win{
    background-color: red;
    height: 30px;
    width: 100%;
}