:root{
    --text_color: whitesmoke;
    --background_img: url('../img/wallpaper.jpg');
    --color_nav: #4a4848;
    --background_nav: #067381;
    --register_nav: #0062cc;
    --black: #fff;
    --register: #f8f9fa;
}

body{
    background: -webkit-linear-gradient(top, #cfcdcd, #535252);
    overflow-x:hidden;
}

.bg-ligh{
    background: #4C8AF6;
}

.desc_accueil{
    color: var(--text_color);
    letter-spacing: 0.06em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 35px;
    margin-bottom: 35px;
}

.register{
    padding: 3%;
    max-width: 100%;
    max-height: 100%;
}
.register-left{
    text-align: center;
    color: var(--register_nav);
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: var(--register);
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: var(--register);
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: var(--register_nav);
    color: var(--text_color);
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: var(--register_nav);
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: var(--register_nav);
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs{
    border: none;
}
.register .nav-tabs{
    width: 100px;
    color: var(--register_nav);
    border: 2px solid var(--register_nav);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}


/* FOOTER */
.footerglob{
    margin-top: 17px;
}

#footer section {
    padding: 60px 0;
    position: absolute;
    bottom: 0;
}

#footer section .section-title {
    text-align: center;
    color: #273022;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #2b2f35 !important;
    margin-top: 50px;
}
#footer h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:var(--text_color);
}
#footer a {
    color: var(--text_color);
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}
#footer ul.quick-links li a i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

.footer_strong{
    letter-spacing: 0.07em;


}

.footer_txt{
    color: var(--text_color);

}


/* Header / NAVBAR */


.header-content {
    background: var(--background_img);
    text-align: center;
    width: 100%;
    height: auto;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
}


.main-header-text {
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
}

.header-text {
    display: flex;
    height: 112.5px;
    justify-content: flex-end;
    align-items: center;
}

.header_titre{
    color: var(--text_color);

}
.header_description{
    color: var(--text_color);
}

.header-info {
    margin: 1.6rem 0;
    float: right;
    margin-bottom: 50px;
    z-index: 10;
}



.navbar-collapse {
    border-radius: 10px;
    border-color: transparent;
    box-shadow: 1px 1px 5px ;
    padding: 1rem;
    margin-top: 10px;
    text-align: center;
}
.nav-item .nav-link {
    font-size: .9rem !important;
    margin-right: 1em !important;
    color: var(--color_nav) !important;

}

.nav-item.active .nav-link {
    color: var(--color_nav) !important;
}

.nav-item.dropdown {
    margin-top: -.7rem;
}

.nav-item:not(.dropdown) .nav-link:not(.dropdown-toggle)::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 0%;
    opacity: 0;
    height: .2rem;
    margin-top: .5rem;
    border-radius: 99px !important;
    background-color: var(--background_nav);
    transition: .2s ease-in-out;
}

.nav-item.active:not(.dropdown)>.nav-link::after,
.nav-item:not(.dropdown)>.nav-link:hover::after {
    opacity: 1;
    width: 80%;
}

.nav-item.dropdown>.nav-link:hover:not(.btn-main) {
    color: var(--background_nav) !important;
}
.categories .nav-link:not(.dropdown-toggle)::after {
    display: none !important;
}

.categories .nav-link.disabled {
    color: inherit !important;
}


.profile-image {
    width: 125px;
    height: 125px;
    display: inline-block;
    vertical-align: top;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.hoverText {
    position: absolute;
    top: 0;
    transition: .5s ease;
    opacity: 0;
    width: 128px;
    text-align: center;
}

.card-container:hover .hoverText {
    opacity: 1;
}

.caption {
    background-color: rgba(226, 221, 221, .85);
    max-width: 128px;
    min-height: 128px;
    font-size: 30px;
    padding-top: 52px;
    color: white;
    cursor: pointer;
}

.btn-main {
    background-color: var(--register_nav);
    color: var(--text_color);
    font-size: initial;
}
.btn-main:hover,
.btn-secondary:hover {
    color: var(--text_color) !important;
    background-color: #074fa4 !important;
    box-shadow: 0px 1px 10px 3px #aacdf1;
}
.btn-main:disabled,
.btn-main.disabled {
    pointer-events: none;
    cursor: default;
}

.btn-reverse {
    background-color: #b00b0b;
    color: var(--text_color);
    font-size: initial;
}

.btn-reverse:hover {
    background-color: #860a0a;
    color: var(--text_color);
    box-shadow: 0px 1px 10px 3px #ba9e9e;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: gray;
}

::-webkit-scrollbar-thumb {
    background: var(--color_nav);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--background_nav);
}

.cgv{
    margin-left: 20px;
}

.stonks{
    color: green;


}
.not_stonks{
    color: red;

}

.txt_info{
    color: var(--text_color);
    margin-top: 35px;
}

.thx{
    margin-top: 50px;
    margin-left: 40%;
}

.chatiframe{
    margin-left: 25%;
}
