:root{
    --text_color: whitesmoke;
    --background_img: url('../img/wallpaper.jpg');
    --color_nav: #4a4848;
    --background_nav: #067381;
    --register_nav: #0062cc;
    --black: #fff;
    --register: #f8f9fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 13px Helvetica, Arial;
    transition: all 0.5s;
}

body#logged-out {
    background: rgb(223, 223, 223);
}
body#logged-out section#chat {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
body#logged-out section#login {
    opacity: 1;
}

section#chat form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}
section#chat form input {
    border: 0;
    padding: 5px 10px;
    width: 90%;
    height: 100%;
    margin-right: .5%;
	font-size: 20px;
}
section#chat form button {
    width: 9%;
    height: 100%;
    color: var(--text_color);
    background: var(--register_nav);
    float: right;
    border: none;
    margin-right: 0.5%;
    font-size: 17px;

}
section#chat #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
section#chat #messages li {
    padding: 5px 10px;
}
section#chat #messages li:nth-child(odd) {
    background: #eee;
}
section#chat #messages li.logout {
	background: #E5A6A6;
}
section#chat #messages li.login {
	background: #A8E5A6;
}
section#chat #messages li span.username {
	display: inline-block;
	padding: 6px 10px;
	margin-right: 5px;
    color: var(--text_color);
    background: var(--register_nav);
	border-radius: 5px;
}
section#chat #messages li span.info {
	display: inline-block;
	padding: 3px 10px;
	margin-right: 5px;
	color: var(--text_color);
    background: var(--register_nav);
	border-radius: 5px;
}
section#login {
    transition: all 0.5s;
    opacity: 0;
    top: 35%;
    text-align: center;
    position: absolute;
    width: 100%
}
section#login label[for="u"] {
	display: block;
	font-size: 24px;
	margin-bottom: 10px;
}
section#login input#u {
	font-size: 25px;
	text-align: center;
	padding: 5px;
	border: 5px solid rgb(158, 158, 158);
}
section#login input#u:focus {
	outline: none;
}
section#login button {
	background: var(--register_nav);
	border: none;
	padding: 5px 80px;
	color: var(--text_color);
	font-size: 20px;
	margin-top: 20px;
	cursor: pointer;
}