@keyframes txtColor{
    from{
        color:grey;
    }
    to{
        color:lightblue;
    }
}

@keyframes txtReady{
    from{
        color:green;
    }
    to{
        color:grey;
    }
}
html{
    background-color:grey;
}
#myCanvas{
    padding:5px;
    margin:auto;
    display:block;
}
#txt{
    padding:1px;
    text-align:center;

    animation-name:txtColor;
    animation-duration:2s;
    animation-direction:alternate;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
