
ul.col-ventes{
    width: 120px;
    margin: auto;
}
li.catégories{
    list-style: none;
    height: 50px;
    display: flex;
    border-bottom: groove;
}
div.sous-liste{
    display: block;
}
p.detail{
    margin: auto;
    width: 120px;
}
li.liste-detail{
    height: 70px;
    display: flex;
    border-bottom: groove;
}

div.liste{
    text-decoration: none;
    list-style-type: none;
}

ul.col-ventes{
    max-width: none;
}
