:root{
    --font_family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    --background_nav: #3cc4e9;
    --card_color: #DADADA;
    --black: #fff;
}

*{padding: 0; margin: 0; box-sizing: border-box;}

.admin-navbar{
    background-color: #4C8AF6;
}
.fa-power-off{
    color: white;
}

.pseudo{
    margin-right: 20px;
}

a, p, span {
    font-family: var(--font_family);
}
p{
    margin-bottom: 10px;
}



/* NAVBAR */

.nav-item {
    position: relative;
}

.navbar-collapse ul li a.nav-link:before {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    content: '';
    opacity: 0;
    -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.navbar-collapse ul li:hover a.nav-link:before {
    opacity: 1;
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    bottom: 0px;
    background: var(--background_nav);
}

.dropdown-item:hover, .dropdown-item:focus {
    color: var(--black);
    text-decoration: none;
    background-color: var(--background_nav);
}

.dropdown-menu {
    border: 0px;
}

.fa-power-off{
    color: #383d41;
}

/* STATS   */

.container{
    margin-top: 70px;
}

.card-counter{
    box-shadow: 2px 2px 10px var(--card_color);
    margin: 5px;
    padding: 20px 10px;
    background-color: var(--black);
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
}

.card-counter:hover{
    box-shadow: 4px 4px 20px var(--card_color);
    transition: .3s linear all;
}

.card-counter i{
    font-size: 5em;
    opacity: 0.2;
}

.card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
}

.card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    opacity: 0.5;
    display: block;
    font-size: 18px;
}

.card-counter.inscrits{
    background-color: #007bff;
    color: var(--black);
}

.card-counter.visites{
    background-color: #3ea5ee;
    color: var(--black);
}

.card-counter.actives{
    background-color: #66bb6a;
    color: var(--black);
}

.card-counter.finish{
    background-color: #d77211;
    color: var(--black);
}




/** Membres */
table{
    margin-top: 50px;
}


.max_val{
    margin-left: 20px;
    margin-top: 10px;
}
.max_val input{
    text-align: center;
}


.required {
    color: #ff0000;
    font-weight: bold;
}


/* FOOTER */

footer{
    height: 50px;
    background: #181717;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.text_footer{
    margin-top: 12px;
    color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

